$duration: .5s;

.work {
  background: #E1DAD2;
  font-family: 'Bebas Neue', sans-serif;
  &__card {
    background-color: #FFF;
    transition: background-color $duration ease;
    overflow: hidden;

    &-title {
      text-transform: uppercase;
      font-size: 3rem;
    }
    &--top {
      background-color: #000;
      color: #FFF;
      padding: 6rem 2rem 0 2rem;
      line-height: 1.75rem;
      transition: background-color $duration ease, color $duration ease;
      span {
        display: inline-block;
      }
    }
    &--bottom {
      color: #000;
      padding: 0 2rem 5rem 2rem;
      line-height: 2.5rem;
      transition: color $duration ease;
      span {
        display: inline-block;
        transform: translateX(3.2rem);
        transition: transform ($duration * 2) ease;
      }
    }
    &:hover,
    &:focus {
      background: #000;
      .work__card--top {
        background: #FFF;
        color: #000;
      }
      .work__card--bottom {
        color: #FFF;
        span {
          transform: translateX(0rem);
        }
      }
    }
  }
}