// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "./../../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "./../../../node_modules/bootstrap/scss/variables";
@import "./../../../node_modules/bootstrap/scss/mixins";

// 5. Add additional custom code here

.hero {
    @include media-breakpoint-up(lg) {
        height: calc(100vh - 96px - 90px);
        &__image {
            height: 100%;
        }
        &__blurb {
            margin-bottom: 0;
        }
    }
    &__title {
        font-family: 'Libre Bodoni', serif;
        text-transform: uppercase;
        font-size: 5rem;
        line-height: 90%;
        @include media-breakpoint-up(sm) {
            font-size: 7rem;
        }
        @include media-breakpoint-up(lg) {
            font-size: 7rem;
        }
        @include media-breakpoint-up(xl) {
            font-size: 9rem;
        }
    }
}

.contact {
    &__form {
        &-control {
            padding-top: .5rem;
            padding-bottom: 1.5rem;
            &:last-child {
                padding-bottom: 0;
            }
            &--full {
                width: 100%;
            }
            &--half {
                width: 100%;
                @include media-breakpoint-up(sm) {
                    width: 47.5%;
                    & + .contact__form-control--half {
                        margin-left: 5%;
                    }
                }
                display: inline-block;
            }
            input,
            textarea {
                width: 100%;
                border: none;
                background: transparent;
                padding: .5rem;
            }
            input {
                border-bottom: 1px solid #FFF;
            }
            textarea {
                border: 1px solid #FFF;
            }
        }
        &--submit {
            background: transparent;
            border: none;
            font-size: 2rem;
            color: #FFF;
            transition: color .5s ease;
            &.disabled {
                color: rgba(255, 255, 255, .25);
            }
        }
    }
}