<div class="portfolio-wrapper">
    <div *ngFor="let portfolio of portfolioItems">
        <h2 *ngIf="portfolio.attributes">{{ portfolio.attributes?.headline }}</h2>
        <p *ngIf="portfolio.attributes">{{ portfolio.attributes?.content }}</p>
        <div>

        </div>
        <div>
            <span *ngIf="portfolio.attributes">{{portfolio.attributes?.slug }}</span>
            <span *ngIf="portfolio.attributes">{{portfolio.attributes?.createdAt }}</span>
            <span *ngIf="portfolio.attributes">{{portfolio.attributes?.publishedAt }}</span>
            <span *ngIf="portfolio.attributes">{{portfolio.attributes?.publishedAt }}</span>
        </div>
    </div>
</div>